@namespace HaveFun.Web
@inherits LayoutComponentBase

<div class="page @(isNavigationOpen ? "nav-open" : "nav-closed")">
    <div class="sidebar">
        <NavMenu IsOpen="isNavigationOpen" ToggleNavigation="ToggleNavigation" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">X</span>
</div>

@code {
    private bool isNavigationOpen = true;

    private void ToggleNavigation()
    {
        isNavigationOpen = !isNavigationOpen;
    }
}
